In [2]:
import pandas as pd

In [9]:
data = {
    'a':[2, 4, 6],
    'b':[3, 6, 9],
    'c':[4, 8, 12]    
}

In [11]:
df = pd.DataFrame(data,index =[10, 20, 30] )
df

    a  b   c
10  2  3   4
20  4  6   8
30  6  9  12

In [16]:
df1 = pd.Series(
    [[1, 2, 3],
    [4, 5, 6]])
df1

0    [1, 2, 3]
1    [4, 5, 6]
dtype: object